<div class=" column-direction page-wrap d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <h3>Deposit</h3>
        <div style="" class="form-group column-direction">
          <div class="field column-direction">
            <label for="endUserIdInput">End User ID</label>
            <input id="endUserIdInput" type="text" (keyup)="onEndUserInputChange($event)" class="form-control-sm"></div>
          <div class="field column-direction">
            <label for="firstNameInput">First Name</label>
            <input id="firstNameInput" type="text" (keyup)="onFirstNameInputChange($event)" class="form-control-sm">
          </div>
          <div class="field column-direction">
            <label for="lastNameInput">Last Name</label>
            <input id="lastNameInput" type="text" (keyup)="onLastNameInputChange($event)" class="form-control-sm">
          </div>
          <div class="field column-direction">
            <label for="PhoneInput">Phone</label>
            <input id="PhoneInput" type="number" (keyup)="onPhoneNumberInputChange($event)" class="form-control-sm">
          </div>
          <div class="field column-direction">
            <label for="EmailInput">Email</label>
            <input id="EmailInput" type="email" (keyup)="onEmailInputChange($event)" class="form-control-sm">
          </div>
        </div>
      </div>
      <button (click)="sendDeposit()" type="button" class="btn btn-primary">Confirm</button>
    </div>
  </div>
</div>
